<div class="container">
    <div class="header">
        <h3>Reservar</h3>
        <div class="opt">
            <button>Novo Cadastro</button>
            <input type="text">
            <select name="buscar" id="buscar">
                <option value="id">Id</option>
                <option value="geral">Geral</option>
            </select>
        </div>
    </div>
    <div class="content">
        <table>
            <thead>
              <tr>
                <th>Id Livro</th>
                <th>Data Inicio</th>
                <th>Data Final</th>
                <th>Email</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>asasdas</td>
                <td>asdasd</td>
                <td>123123123</td>
                <td>asdasdas&#64;gmail.com</td>
                <td>
                  <button>Editar</button>
                  <button>Excluir</button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
